html, body {
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    width: 800px;
    margin: 0 auto;
}

h1 {
    color: #333;
}


h3 {
    color: #666;
}

p {
    font-size: 18px;
    color: #555;
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    display: inline-block;
    width: 800px;
    white-space: pre-wrap;
}

code {
    font-family: 'Courier New', Courier, monospace;
    color: #d14;
}

li {
    margin: 10px 0;
    font-size: 16px;
    list-style-type: none;
}

a {
    color: #1a0dab;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.btn {
    display: inline-block;
    margin: 20px 0;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}