body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #404040;
    margin: 0;
}

/* =================
    Typography 
   ================= */

/* 
  Challenge: Set the initial styles for text
    - Set the h1 to a relative font-size value equal to 40px
    - Apply a text shadow to the h1 using the color value #816fca
*/

h1 {
    font-weight: 400;
    font-size: 2.5rem; /* 40 / 16 = 2.5 */
    text-shadow: 0 2px #816fca;
}

.beta-text { 
    font-weight: 900;
}

.subheading {
    color: #575757;
    font-weight: 900;
}

/* =================
    Flex containers
   ================= */

.intro,
.main-content {
    display: flex;
    flex-direction: column;    
}

/* =================
    Intro
   ================= */

.intro { 
    justify-content: center;
    min-height: 250px;
    text-align: center;
    color: #fff;
    background-color: #9480e4;
}

/* ====================
    Main content
   ==================== */
   
.main-content {
    align-items: center;
    
    padding-top: 2.5em; /* 40 / 16 = 2.5 */
    padding-left: 2em; /* 32 / 16 = 2 */
    padding-right: 2em;
}

.img-main {
    width: 120px;
    border-radius: 50%;
}

/* =================
    Form
   ================= */
   

/* =================
    Media queries 
   ================= */