body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #404040;
    margin: 0;
}

/* =================
    Typography 
   ================= */

h1 {
    font-weight: 400;
    font-size: 2.5rem; /* 40 / 16 = 2.5 */
    text-shadow: 0 2px #816fca;
}

h2 {
    font-size: 2.25rem; /* 36 / 16 = 2.25 */
    margin: 0.167em 0; /* 6 / 36 = 0.167 */
    
}

.main-content p {
    font-size: 1.125rem; /* 18 / 16 = 1.125 */
    line-height: 1.35;
}

/* 
  Challenge: 
    - Set .beta-text and .subheading to appear in all-uppercase
*/

.beta-text, .subheading {
    text-transform: uppercase;
}

.beta-text { 
    font-weight: 900;
}

.subheading {
    color: #575757;
    font-weight: 900;
    margin-bottom: 0.5em;
}

/* =================
    Flex containers
   ================= */

.intro,
.main-content {
    display: flex;
    flex-direction: column;    
}

/* =================
    Intro
   ================= */

.intro { 
    justify-content: center;
    min-height: 250px;
    text-align: center;
    color: #fff;
    background-color: #9480e4;
}

/* ====================
    Main content
   ==================== */
   
.main-content {
    align-items: center;
    
    padding-top: 2.5em; /* 40 / 16 = 2.5 */
    padding-left: 2em; /* 32 / 16 = 2 */
    padding-right: 2em;
}

.img-main {
    width: 120px;
    border-radius: 50%;
}

/* =================
    Form
   ================= */
   

/* =================
    Media queries 
   ================= */

/* 
  Challenge: Adjust the layout for wider screens
    - Add a media query that targets a browser width of 576px or wider
    - Within the media query, convert the parent element .container of .intro and 
      .main-content to a flex container
    - Set the width .intro and .main-content to exactly
      half the total width of their parent container
*/

@media (min-width: 576px) {
    .container {
        display: flex;
    }

    .intro,
    .main-content {
        width: 50%;
        min-height: 100vh;
    }
}