body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #404040;
    margin: 0;
}

/* =================
    Typography 
   ================= */

h1 {
    font-weight: 400;
    font-size: 2.5rem; /* 40 / 16 = 2.5 */
    text-shadow: 0 2px #816fca;
}

h2 {
    font-size: 2.25rem; /* 36 / 16 = 2.25 */
    margin: 0.167em 0; /* 6 / 36 = 0.167 */
    
}

p {
    font-size: 1.125rem; /* 18 / 16 = 1.125 */
    line-height: 1.35;
    text-align: justify;
}

/* 
  Challenge: 
    - Set .beta-text and .subheading to appear in all-uppercase
*/

.beta-text, .subheading {
    text-transform: uppercase;
}

.beta-text { 
    font-weight: 900;
}

.beta-text,
.top-text,
.subheading {
    text-transform: uppercase;
}

/* 
  Challenge: 
    Adjust the visual order of .top-text and re-distribute
    the space inside .intro: 
      - Display .top-text above the h1 and align it to 
        the top edge of the .intro section
      - Evenly distribute the content inside .intro
      - The top border of .top-text should match the width of the text
*/

.subheading {
    color: #575757;
    font-weight: 900;
    margin-bottom: 0.5em;
}

.fine-print {
    font-size: 0.75rem;
    letter-spacing: 1px;
    color: #858585;
}

/* =================
    Flex containers
   ================= */

.intro,
.main-content {
    display: flex;
    flex-direction: column;
    padding-left: 2em; /* 32 / 16 = 2 */
    padding-right: 2em;
}

/* =================
    Intro
   ================= */

.intro { 
    justify-content: center;
    min-height: 250px;
    text-align: center;
    color: #fff;
    background-color: #9480e4;
    background-image: url('images/intro-bg.png');
    background-size: cover;
    background-position: center;
}

/* ====================
    Main content
   ==================== */
   
.main-content {
    align-items: center;
    
    padding-top: 2.5em; /* 40 / 16 = 2.5 */
}

.img-main {
    width: 120px;
    border-radius: 50%;
}

/* =================
    Form
   ================= */
   
/* 
  Challenge: Style the submit button
    - The button should have the same font-family, width
      and border-radius of the input elements
    - Use the .btn selector to set the custom button styles;
      use the slide as a guide
    - Button colors:
      - Background: #8a71ec
      - Background on hover: #b7a7f6
*/

form {
    width: 100%;
    max-width: 400px;
}

form input,
form select {
    display: block;
    width: 100%;
    margin-bottom: 1em;
    padding: 0.5em;
    font-size: 1rem;
    box-sizing: border-box;
    font-family: inherit;
}

form input {
    border: 2px solid #d1d5db;
    border-radius: 5px;
}

form input:focus {
    border-color: #8a71ec;
    background-color: #e6e8ec;
    outline: none;
}

.btn {
    display: block;
    width: 100%;
    padding: 1em 0;
    font-size: 1rem;
    font-family: inherit;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px; 
}

.btn-primary {
    background-color: #8a71ec;
    color: #fff;
    margin-top: 1em;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #b7a7f6;
}


/* =================
    Media queries 
   ================= */

@media (min-width: 576px) {
    .container {
        display: flex;
    }

    .intro,
    .main-content {
        width: 50%;
        min-height: 100vh;
    }

    .main-content {
        padding-top: 0;
        justify-content: center;
    }

    h1 {
        font-size: 5vw; /* Viewport width units for responsiveness */
    }

    h2 {
        font-size: 2.625rem; /* 42 / 16 = 2.625 */
    }

    .beta-text {
        font-size: 1.25rem; /* 20 / 16 = 1.25 */
    }
}