body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #404040;
    margin: 0;
}

/* =================
    Typography 
   ================= */

h1 {
    font-weight: 400;
    font-size: 2.5rem; /* 40 / 16 = 2.5 */
    text-shadow: 0 2px #816fca;
}

h2 {
    font-size: 2.25rem; /* 36 / 16 = 2.25 */
    margin: 0.167em 0; /* 6 / 36 = 0.167 */
    
}

.main-content p {
    font-size: 1.125rem; /* 18 / 16 = 1.125 */
    line-height: 1.35;
}

/* 
  Challenge: 
    - Set .beta-text and .subheading to appear in all-uppercase
*/

.beta-text, .subheading {
    text-transform: uppercase;
}

.beta-text { 
    font-weight: 900;
}

.subheading {
    color: #575757;
    font-weight: 900;
    margin-bottom: 0.5em;
}

.fine-print {
    font-size: 0.75rem;
    letter-spacing: 1px;
    color: #858585;
}

/* =================
    Flex containers
   ================= */

.intro,
.main-content {
    display: flex;
    flex-direction: column;
    padding-left: 2em; /* 32 / 16 = 2 */
    padding-right: 2em;
}

/* =================
    Intro
   ================= */

.intro { 
    justify-content: center;
    min-height: 250px;
    text-align: center;
    color: #fff;
    background-color: #9480e4;
    background-image: url('images/intro-bg.png');
    background-size: cover;
    background-position: center;
}

/* ====================
    Main content
   ==================== */
   
.main-content {
    align-items: center;
    
    padding-top: 2.5em; /* 40 / 16 = 2.5 */
}

.img-main {
    width: 120px;
    border-radius: 50%;
}

/* =================
    Form
   ================= */
   
/* 
  Challenge: Style the form inputs
    - Display each input on a separate line so they
      expand to the full width of their container
    - Use a bottom margin to create space between the input elements
    - Apply a padding in em that's equal to half the input's
      font-size to all 4 sides
*/

form {
    width: 100%;
    max-width: 400px;
}

form input,
form select {
    display: block;
    width: 100%;
    margin-bottom: 1em;
    padding: 0.5em;
    font-size: 1rem;
    box-sizing: border-box;
}


/* =================
    Media queries 
   ================= */

@media (min-width: 576px) {
    .container {
        display: flex;
    }

    .intro,
    .main-content {
        width: 50%;
        min-height: 100vh;
    }

    .main-content {
        padding-top: 0;
        justify-content: center;
    }

    h1 {
        font-size: 5vw; /* Viewport width units for responsiveness */
    }

    h2 {
        font-size: 2.625rem; /* 42 / 16 = 2.625 */
    }

    .beta-text {
        font-size: 1.25rem; /* 20 / 16 = 1.25 */
    }
}