body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    background-color: #f0f0f0;
    color: #333;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #2c3e50;
}

h3 {
    color: #34495e;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
}

a {
    text-decoration: none;
    background-color: #333;
    padding: 20px 30px;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
