:root {
    --dark-color: #282828;
    --light-color: whitesmoke;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    color: var(--dark-color);
    background-color: var(--light-color);
    max-width: 500px;
}

header {
    background-color: var(--dark-color);
    color: var(--light-color);
}

ul {
    padding: 25px;
    list-style-type: none;
    margin: 0;
    display: flex;
    gap: 10px;
    align-items: center;
}

.logo {
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.icon {
    width: 25px;
}

.align-right {
    margin-left: auto;
}

h1 {
    font-size: 40px;
    font-weight: 400;
    margin: 30px 25px;
}

.item {
    position: relative;
}

.item-img {
    width: 100%;
    display: block;
}

.caption {
    margin: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.img-banner { 
    position: absolute;
    top: 0;
    left: 0;
    background-color: #cd6858;
    color: var(--light-color);
    padding: 10px;
}

button {
    border: none;
    background-color: #cd6858;
    color: var(--light-color);
    padding: 10px 15px;
    font-weight: 700;
    cursor: pointer;
}

.chatbox-bg {
    /*
Challenge:
1. Position the chatbox in the bottom 
   corner of the window, 6px from bottom
   and 6px from the right. 
*/
    position: fixed;
    bottom: 6px;
    right: 6px;
    background-color: #dda15e;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 1px 1px 5px #999;
    display: flex;
    z-index: 1;
}

.chatbox-img {
    width: 50%;
    margin: auto;
    opacity: 0.6;
    z-index: 2;
}