/**
 Challenge:

 Style it up!
 
 * Add a short (~30px height) fixed navbar at the top with the text "BlogSpace".
    Remember to pad the top of your content so it doesn't get hidden behind the navbar.
 * Add a font from Google Fonts.
 * Any other styling you want to make it look nice!
 
 */

body {
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: beige;
    padding: 5px;
    height: 30px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
}

nav > h3 {
    margin: 0;
}

#blog-list {
    padding: 30px 10px 10px;
}
