*, *::before, *::after {
    box-sizing: border-box;
}
html, body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f6f6f6;
    max-width: 565px;
}


header {
    display: flex;
    justify-content: center;
    padding: 1em;
    background-color: black;
    max-width: 500px;
    margin: 0 auto;
}

header img {
    width: 340px;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


/* Panels */

.action-panel, .output-panel {
    line-height: 1.4em;
    display: flex;
    height: fit-content;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 1.5em 2em;
}

.output-panel {
    display: none;
    justify-content: flex-start;
    border: 2px solid;
    padding: 1em 2em;
}

.loading-panel {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    height: 50px;
    text-align: center;
}

.output-panel p{
    overflow-y: scroll;
}

section.calling-api-messages {
    text-align: center;
    max-width: 460px;
    margin: 2em auto;
}

/* text */

h2 {
    text-align: center;
    font-weight: 400; 
    margin-top: -26px;
    background-color: #f6f6f6;
    padding: 0 10px;
    font-size: 18px;
    margin-bottom: 0;
}

p.tag-line {
    font-family: 'Comic Neue';
    font-weight: 700;
    font-size: 14px;
}

.ticker-choice-display {
    display: flex;
    align-items: center;
    height: 3em; 
}

/* controls */

form {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    text-align: center;
    padding: .43em;
    font-size: 15px;
    margin-bottom: 1em;
    width: 80%;
}

.form-input-control {
    display: flex;
    width: 70%;
}

input[type="text"] {
    padding: 1em;
    border: 2px solid black;
    border-right: none;
}

/* Buttons */

.add-ticker-btn {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    font-size: 3em;
    padding: 0 .35em;
    cursor: pointer;
    border: 2px solid;
}

.add-ticker-svg {
    width: 14px;
}

.generate-report-btn {
    max-width: fit-content;
    padding: 0.75em 1em;
    cursor: pointer;
    font-family: 'Poppins', sans;
    border: 2px solid #000000;
    background-color: #46ff90;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .09em;
    font-size: 105%;
    color: #000000;
}

.test-openai-btn {
    max-width: fit-content;
    padding: 0.75em 1em;
    cursor: pointer;
    font-family: 'Poppins', sans;
    border: 2px solid #000000;
    background-color: #ffec46;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .09em;
    font-size: 105%;
    margin-top: 0.5em;
}

/* ticker display (ensure comma separated) */

.ticker {
    margin: 0 .1em;
    content: '';
}

.ticker:after {
    content: ',';
}

.ticker:last-child::after {
    content: '';
}

/* footer */

footer {
    font-size: 14px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 50%;
    padding: 1em 0;
    margin: 0 auto;
}

/* stop ugly scroll bar on some browsers */
.output-panel p::-webkit-scrollbar {
    display: none;
}

.output-panel p::-moz-scrollbar {
    display: none;
}