html, body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    color: #ffffff;
    text-align: center;
}

pre {
    background-color: #1e1e1e;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    text-align: left;
    overflow-x: auto;
}

li {
    list-style: none;
}

sub {
    background-color: #1e1e1e;
    font-style: italic;
    padding: 10px 5px;
}

hr {
    border: none;
    height: 1px;
    background-color: #333;
    margin: 20px 0;
    padding: 20px 0;
}