html, body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    margin-top: 2rem;
    color: #8a091a;
}

h3 {
    color: #1d4ed8;
    margin-top: 2rem;
}