*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0 auto;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(../img/table.png);
    background-size: cover;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #e9e9e9;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(240, 216, 0);
    border: none;
    color: #333;
    font-weight: bold;
}

#cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    margin-bottom: auto;
    margin-top: 2em;
}

.card-slot {
    height: 120px;
    width: calc(120px * 5 / 7);
    border: 2px solid #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.2);
    background-size: cover;
    background-position: center;
}

.card-slot img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.start {
    width: 100%;
    max-width: 200px;
    align-self: flex-start;
}

.draw {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* /**
 * Challenge:
 * 
 * Start making this look lots nicer :)
 * 
 * 1. Add a card table background with the img/table.png image provided.
 * 2. Move the draw button to the very bottom of the page, full width
 * 3. Add some button styles. You can use the photo on the slides ✔️
 * for one option.
 */