*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0 auto;
    padding: 2em;
    max-width: 440px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: coral;
    border: none;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    margin: 2em 0;
}