html, body {
    margin: 0 auto;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
    width: 23.438rem;
    display: flex;
    flex-direction: column;
    background-color: #e0e0e0;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

.navbar {
    height: 3.75rem;
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    align-items: center;
    background-color: #fafafa;
}

.logo {
    height: 2.064rem;
    margin: 0.625rem;
}

.user-avatar {
    height: 2.125rem;
    border-radius: 50%;
    margin-left: auto;
    margin-right: 0.625rem;
}

.post {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
}

.post-header {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 10px;
}

.avatar-img {
    height: 2rem;
    border-radius: 50%;
    margin-right: 10px;
}

.post-author {
    font-weight: bold;
    font-size: 0.813rem;
}

.post-location {
    font-size: 0.75rem;
    color: #8e8e8e;
}

.post-image-container {
    width: 100%;
    overflow: hidden;
    max-height: 23.313rem;
}

.post-image {
    width: 100%;
    height: auto;
}

.post-actions {
    display: flex;
    padding: 0.625rem;
    flex-direction: column;
}

.post-icons {
    display: flex;
    align-items: center;
    padding: 1.25rem 0 0.9375rem 0;
}

.icon {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.625rem;
    cursor: pointer;
}

.icon-heart {
    transition: filter 0.2s;
}

.icon-heart:hover,
.icon-heart:focus {
    content: url(images/icon-heart-filled.svg);
}

.icon-comment {
    transition: filter 0.2s;
}

.icon-comment:hover,
.icon-comment:focus,
.icon-comment:active {
    content: url(images/icon-comment-filled.svg);
}

.icon-dm {
    transition: filter 0.2s;
}

.icon-dm:hover,
.icon-dm:focus,
.icon-dm:active {
    content: url(images/icon-dm-filled.svg);
}

.icon-heart:active {
    filter: brightness(0.7);
}

.post-likes {
    font-weight: bold;
    font-size: 0.875rem;
    padding: 0 0 1.125rem 0;
}

.post-caption {
    font-size: 0.813rem;
}