body {
    font-size: 16px;
    color: #2b283a;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #5f29a3;
    padding: 45px 0;
}

h1 {
    margin: 0;
    font-size: 36px;
    color: #ef5839;
}

h2 {
    margin-top: 0;
}

h3 {
    margin: 0;
    font-size: 20px;
    color: #d0aaff;
}

/* 
Challenge:
1. Set the color of the link in the paragraph.
2. Make the link color change on hover and 
   active states.
3. Search online to find out how you can give 
   the underline a dotted appearance. 
*/

a {
    color: #ef5839;
    text-decoration: 1px dotted #ef5839;
}

a:hover, a:active {
    color: #d4b44c;
    text-decoration: 1px dotted #d4b44c;
}

section {
    padding: 45px 0;
}

.images {
    width: 100%;
}