/* 
Challenge:
1. Use comments to divide up the CSS
   into segments.
⚠️ Don't use too many comments!
*/

/* Global Styles */
body {
    font-size: 16px;
    color: #2b283a;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #5f29a3;
    padding: 45px 0;
}

/* Heading Styles */
h1 {
    margin: 0;
    font-size: 36px;
    color: #ef5839;
}

h2 {
    margin-top: 0;
}

h3 {
    margin: 0;
    font-size: 20px;
    color: #d0aaff;
}

/* Link Styles */
a {
    color: #ef5839;
    text-decoration: 1px dotted #ef5839;
}

a:hover, a:active {
    color: #d4b44c;
    text-decoration: 1px dotted #d4b44c;
}

/* Section Styles */

/* 
Challenge:
1. Give the images in section two a class.
2. Use that class to set the width of 300px and 
   border-radius of 4.6px for both images.
3. Wrap the two images in a container div 
   and give it a class.
4. Create the CSS selector for that class 
   and use flex-box to layout the images
   as shown in the slide.
*/

.image-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.second-section-image {
    width: 300px;
    border-radius: 4.6px;
}

.container {
    width: 620px;
    margin: 0 auto;
}

section {
    padding: 45px 0;
}

.second-section {
    background: #5f29a3;
    color: whitesmoke;
}

/* Image Styles */
.main-image {
    width: 100%;
}
