/* 
Challenge:
1. Create a "header" selector.
2. Give it its background color of #5f29a3.
3. What CSS property do you need to use to remove
   the annoying white space at the top? Give this 
   property a value of 45px top and bottom.
3. Create selectors for the h1 and h3 elements.
4. Assign the correct margins, size & colors to h1
   and h3, the colors are #dOaaff, whitesmoke and the
   font sizes you should use are h1: 36px and h3: 20px
At the end of the challenge, the h1 and h3 will 
still be up right up against the left-hand edge of 
the browser. That is fine for now.   
*/

body {
    font-size: 16px;
    color: #2b283a;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #5f29a3;
    padding: 45px 0;
}

h1 {
    margin: 0;
    font-size: 36px;
    color: whitesmoke;
}

h3 {
    margin: 0;
    font-size: 20px;
    color: #d0aaff;
}