html, body {
    margin: 1em;
    padding: 0;
}

.grid-container {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; /* manually define 8 equal columns */
    /* A better way achieve this is using repeat() */
    grid-template-columns: repeat(8, 1fr); /* much cleaner! and less code | Explanation: repeat(8, 1fr) creates 8 equal columns each taking up 1 fraction of the available space */
    gap: .5em;
    border: 2px solid black;
}

.grid-item {
    background-color: lightgreen;
    padding: .2em;
    text-align: center;
    font-size: 2em;
    color: black;
    border: 1px solid #999;
}
    
