body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 300;
    margin: 0;
}

.container {
    width: 570px;
    margin: 0 auto;
}

.bold-text {
    font-weight: 900;
    display: block;
}

h1 .bold-text {
    font-size: 80px;
}

h2 .bold-text {
    font-size: 60px;
}

h1,
h2 {
    font-weight: 300; 
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 36px;
    font-weight: 900;
}

a {
    color: #99D930;
    font-weight: 900;
}

a:hover,
a:focus {
    color: #131313;
}

.small-text {
    font-size: 16px;
} 

header,
section {
    padding: 100px 0;
}

.inverse {
    color: #fff;
    background: #252525;
}

.button {
    color: #252525;
    background: #99D930;
    text-decoration: none;
    font-weight: 900;
    display: inline-block;
    padding: 15px 30px;
}

.button:hover,
.button:focus {
    color: #fff;
    background: #252525;
}

/* 
# challenge No. 8

### Instructions
- Create a class to style the “buttons”
- Ensure that you include a hover and focus state

#### Normal state
- color: #252525
- background: #99D930

#### hover/focus
- color: #fff
- background: #252525

### Some tips:
- Don’t use width or height to create the size
- You’ll have to change their display property

*/