.image-container {
    max-width: 800px;
    line-height: 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.pet-item {
    flex-basis: 220px;
    flex-grow: 1;
}

/*
  Challenge:
    - Set the initial main size of .expand to a size larger than 220px
*/

.expand {
    flex-basis: 300px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
