html, body {
    margin: 0;
    padding: 0;
}

body {
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 2px #474747;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.top {
    display: flex;
    justify-content: space-between;
}

h1.time {
    text-align: center;
    font-size: 5rem;
}

/*
Challenge: Set up flexbox so the three elements are
evenly spread vertically on the screen (don't worry
about the horizontal alignment yet)
*/