*, *::before, *::after {
    box-sizing: border-box;
}    

body {
    margin: 0;
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0px 0px 20px #474747;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

main {
    padding: 15px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.top {
    display: flex;
    justify-content: space-between;
}

.center {
    text-align: center;
    font-size: 5em;
}

#date {
    font-size: 0.4em;
}

div.bottom {
    display: flex;
    flex-direction: column;
}
