*, *::before, *::after {
    box-sizing: border-box;
}    

body {
    margin: 0;
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0px 0px 20px #474747;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

main {
    padding: 15px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.top {
    display: flex;
    justify-content: space-between;
}

div.weather {
    display: flex;
    gap: 10px;
    font-size: 1.2em;
}

p#weather-temp {
    line-height: 2.3;
}

img.weather-icon {
    width: 50px;
    height: 50px;
    background-color: #dbd89b;
    border-radius: 50%;
    padding: 5px;
}

.center {
    text-align: center;
    font-size: 5em;
}

#date {
    font-size: 0.4em;
}

div.bottom {
    display: flex;
    flex-direction: column;
}

div.crypto {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 1.2em;
}

div.crypto-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    font-size: 1.3em;
    font-weight: bold;
}

img.crypto-icon {
    width: 50px;
    height: 50px;
}
