*, ::before, ::after {
     box-sizing: border-box;
 }

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
}

h1 {
    color: #2c3e50;
    margin-bottom: 10px;
}

h2 {
    font-size: 120%;
}

h3 {
    margin: 0;
    color: #34495e;
}

a, button {
    color: white;
    text-decoration: none;
    background-color: darkblue;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    min-width: 220px;
    text-align: center;
}

a:hover, button:hover {
    background-color: indigo;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: ease-in-out 0.3s;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 15px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}